@model Cumulative_n01665068.Models.Student
@{
    ViewBag.Title = "Show";
}

<!---This View Displays the details of the Student selected in the List View-->
<h1>Details</h1>
<br />
<div>
    <h3>@Model.StudentName</h3>

    <p>Student ID: @Model.StudentID</p>
    <p>Student Number: @Model.SdtNumber</p>
    <p>Enrollment Date: @Model.Enrol</p>
    
</div>


