@model List<Cumulative_n01665068.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<!---This View Displays the list of all teachers. Any teacher's name can be clicked to view their full details-->
<h1>Academic Faculty</h1>

@foreach(var teacher in Model)
            {
                <div>
                    <a href="/Teacher/Show/@teacher.TeacherID">@teacher.TeacherName</a>
                </div>
            }

